
extends layout

include mixins/_title

block addlocalcss
  if page.metadata.localcss
    link(rel='stylesheet', href=page.metadata.localcss)

block addlocaljs
  if page.metadata.localjs
    each script in page.metadata.localjs
      script(src=script)

block append vars
  - bodyclass = 'article-detail'

block prepend title
  | #{ page.title + " - "}

block header
  div.titlebar
    - const [first, ...rest] = page.title.split(' ')
    h1.titlebar__main
      h1.titlebar__main
        +title(page.title)
    div.titlebar__date
      ul.layout.layout--date
        li.layout__item
          i.fa.fa-calendar
        li.layout__item 
          span.date= moment(page.date).format('MMMM D, YYYY')
block content
  section.article
    article.article__primary
      if page.metadata.lesson
        h1
          +title(page.metadata.lesson)
      != typogr(page.html).typogrify()

      if page.metadata.swatches
        ul#mainSwatches.hasSwatches
          each swatch in page.metadata.swatches
            li
              .swatchWrapper
                .swatch
                  .swatchColor(style=`background-color: ${swatch}`)
                  p.swatchLabel= swatch

      if page.metadata.swatchesSmall
        each small, name in page.metadata.swatchesSmall
          ul(id=`${name}`).hasSwatches
            each swatch in small
              li(data-color=swatch).hasSwatches
                .smSwatch
                  .swatch
                    .swatchColor(style=`background-color: ${swatch}`)= swatch

      if page.metadata.homework
        - const { lesson } = page.metadata.homework
        .homework-view
          div
            a(href=`images/${lesson}-homework.png`, target="_blank")
              img( src=`images/${lesson}-homework-sm.png`).img-circle
          div
            h2 Example of Homework
            p Your coded page should look like this when you are done.
            a(href=`${lesson}-homework.html` target="_blank").btn.btn--primary Homework Example
    aside.article__secondary
      div.side-nav-inner

        if page.metadata.nav
          ul.sidenav
            .trigger &#8250;
            each href, key in page.metadata.nav
              li.sidenav__item
                a(href=href).sidenav__link #{key}

        if page.metadata.downloads
          h3 Downloads
          ul.downloads
            each data, label in page.metadata.downloads
              li.downloads__item
                a(href=data.file, class=(data.btn ? `btn--${data.btn}` : '')).btn #{label}
                  i.fa.fa-download

        if page.metadata.tags
          h3 Tags in Lesson
          .tags
            each val, index in page.metadata.tags
              .tags__item
                div.data
                  span(class=`badge--${val.label}`).badge
                    i(class=val.icon) 
                    = val.label
                ul.tags__list
                  each tag in val.data
                    li.tags__list-item
                      if val.label == "html"
                        code &lt;#{tag}&gt;
                      if val.label == "css"
                        code #{tag}:&#123;&#125;
                      if val.label == "attribute"
                        code "#{tag}"
