extends layout

block append vars
  - bodyclass = 'homepage'

block header
  div.well.small
    h1= locals.description
    h2= locals.startDate + " to " + locals.endDate

block notes
  if locals.note
    div.container
      div.alert.alert-danger= locals.note
  if locals.classnote
    div.container
      div.alert.alert-danger
        p= locals.classnote + " "
          a.btn.btn-xs(href=locals.classaction, target='_blank') Click Here

block content
  include author
  each article in articles
    article.lesson-item.col-md-4
      .well
        header
          h2
            a(href=article.url)= article.title
          div.date
            i.fa.fa-calendar
            span.month= moment(article.date).format('MMMM')
            span.day= moment(article.date).format('D') + ","
            span.year= moment(article.date).format('YYYY')
        section.content
          !{ typogr(article.intro).typogrify() }
          if article.hasMore
            a(href=article.url).more.btn View Lesson

block prepend footer
  div.nav
    if prevPage
      a(href=prevPage.url) « Newer
    else
      a(href='/archive.html') « Archives
    if nextPage
      a(href=nextPage.url) Next page »
