extends layout

include mixins/_title

block append vars
  - bodyclass = 'homepage'

block header
  div.titlebar
    h1.titlebar__main
      +title(locals.description)
    p.titlebar__date= locals.startDate + " to " + locals.endDate

block notes
  if locals.note
    div.container
      div.alert.alert-danger= locals.note
  if locals.classaction
    div.container
      div.alert.alert-danger
        p= locals.classnote + " "
          a.btn.btn-lg(href=locals.classaction, target='_blank') Click Here

block content
  .grid.grid--homepage
    each article in articles
      article.lesson
        .lesson__header
          h2.lesson__title
            a(href=article.url).lesson__link
              +title(article.title)
          ul.layout.layout--date.lesson__date
            li.layout__item
              i.fa.fa-calendar
            li.layout__item 
              span.date= moment(article.date).format('MMMM D, YYYY')          
        section.lesson__content !{ typogr(article.intro).typogrify() }
          if article.hasMore
            a(href=article.url).btn.btn--primary.lesson__button View Lesson
